/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* spinner animation */
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
}
.spinner .path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
 }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
 }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
 }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
 }
}
